 SQL queries

In [ ]:
# Task_1: Which 10 companies make the most money?
SELECT 
    company AS company_name,
    ROUND(SUM(fare), 2) AS total_fare
FROM 
    "AwsDataCatalog"."de_chicago_taxi"."taxi_trips_full" 
GROUP BY 
    company
ORDER BY 
    total_fare DESC
LIMIT 10;

In [ ]:
# Task_2:  Show the 10 pickup community areas with the most rides. 
SELECT 
    pickup_community_area_name AS community_area_name,
    COUNT(*) AS ride_count
FROM 
    "AwsDataCatalog"."de_chicago_taxi"."taxi_trips_full" 
GROUP BY 
    pickup_community_area_name
ORDER BY 
    ride_count DESC
LIMIT 10;

In [ ]:
# Task_3: Get the count of taxi rides per day of week. In other words, we'd like to see which day has the most rides.
SELECT 
  CASE day_of_week
    WHEN 1 THEN 'Monday'
    WHEN 2 THEN 'Tuesday'
    WHEN 3 THEN 'Wednesday'
    WHEN 4 THEN 'Thursday'
    WHEN 5 THEN 'Friday'
    WHEN 6 THEN 'Saturday'
    WHEN 7 THEN 'Sunday'
  END AS day_name,
  COUNT(*) AS ride_count
FROM 
    "AwsDataCatalog"."de_chicago_taxi"."taxi_trips_full" 
GROUP BY 
  CASE day_of_week
    WHEN 1 THEN 'Monday'
    WHEN 2 THEN 'Tuesday'
    WHEN 3 THEN 'Wednesday'
    WHEN 4 THEN 'Thursday'
    WHEN 5 THEN 'Friday'
    WHEN 6 THEN 'Saturday'
    WHEN 7 THEN 'Sunday'
  END,
  day_of_week
ORDER BY 
  day_of_week
LIMIT 7;